a
{
    color: #ed9c28;
}
ul{ list-style-type:none}
.container{ }

    a:hover, a:focus
    {
        color:#ecbc16;
    }

.btn-primary
{
    background-color: #166c9d;
}

    .btn-primary i
    {
        padding-right: 3px;
    }

.btn-success
{
    background-color: #222; border-radius:4px;
    border-color: #222;
}

/*.navbar-brand
{
    background: url(../../Images/bb-logo.png) no-repeat left;
    width: 271px; height:73px;
    text-indent: 46px;
    padding: 36px 0px 11px 0px;
}

.navbar > .container .navbar-brand
{
    margin-left: 0px;
    color: #1f689d;
    font-size: 14px;
    font-weight: bold;
    margin-top: -12px;
}

    .navbar > .container .navbar-brand span
    {
        color: #17a89b;
    }*/

/*.navbar
{
    min-height: 70px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    border-radius: inherit;
    margin-bottom: 0;
    z-index: 9999;
}*/

    /*.navbar .container .nav
    {
        margin-top: 18px;
		margin-bottom:5px;
        border-radius: 0px;
        color: #000;
         border-bottom:1px solid #e5e5e5;
         /*border:1px solid #e5e5e5;
    }*/
.Ads img
{
    width:100%; max-width:600px;
}
.prodDisplayModal img
{
    width:100%
}
.btns-group
{
    margin-right: 15px;
}

.navbar-nav > li
{
}

    .navbar-nav > li > a
    {
        font-size: 13px;
        padding: 13px 11px 10px;
        color: #fff;
    }

        .navbar-nav > li > a:hover, .navbar-nav > li.active > a
        {
            border-bottom-color: #5aa726;
        }

.nav li div
{
    color: #999999;
    padding: 11px 15px;
    display: inline-block;
}

    .nav li div a
    {
        color: #fff;
    }

        .nav li div a:hover, .nav li div a:active, .nav li div a:visited
        {
            text-decoration: none;
        }

.carousel-control.right, .carousel-control.left
{
    background: none;
}

.carousel .item img
{
    width: 100%;
    max-height: 250px;
}

.nav .btn
{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.5;
    margin-left: 5px;
}

@media (min-width:1200)
{
    .navbar-nav > li > a
    {
        font-size: 10px;
        padding: 13px 15px 10px;
    }
}

.form.home
{
    position: absolute;
    bottom: 50px;
}

    .form.home .form-group
    {
        margin-right: 10px;
    }

    .form.home input
    {
        width: 600px;
    }

    .form.home h1
    {
        text-align: center;
        color: #fff;
        font-size: 80px;
        margin-bottom: 20px;
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
    }

.tagline
{
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: #404040;
    color: #FFF;
}

    .tagline .btn
    {
        font-size: 30px;
    }

footer
{
    text-align: center;
}

.footer-icons
{
    font-size: 30px;
    margin-top: 20px;
}


    .footer-icons a
    {
        color: #404040;
    }

        .footer-icons a:hover
        {
            text-decoration: none;
        }

.brands
{
    padding: 20px 0 0;
    
}

    .brands .row
    {
        margin-bottom: 20px;
    }

    .brands .item
    {
        border-radius: 6px;
        
        padding: 10px;
        margin: 3px;
    }

        .brands .item p
        {
            margin: 10px 0;
        }

        .brands .item img
        {
            width: 100%;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }

            .brands .item img:hover
            {
                -webkit-filter: grayscale(100%);
                opacity: 0.4;
            }

    .brands .corporate-bxslider .item img
    {
        height: 200px;
    }

    .brands .connected .item img
    {
        height: 200px;
    }

.footer-bxslider .item img
{
    height: 150px;
}

.brands .alert
{
    padding: 6px 12px;
    margin-left: 10px;
}

.tabs h3
{
    margin: 10px 0px 0px;
}

.tabs ul
{
    width: 100%;
}

.tabs .tab-content
{
}

.tabs .list-group-item:first-child
{
    border-radius: 0px;
    border-top: none;
}

.homepop
{
    z-index: 999999;
}

.footerMenu
{
    background: #000;
    
    padding: 30px 0px 0px 10px; 
}
  .footerMenu  ul    {
       list-style-type:none; padding:0
	 }
	 .footerMenu li  {
       color:#c8c8c8
	 }

    .footerMenu a, h3
    {
        color: #c8c8c8;  
    }
	.footerMenu h3
    {
        color: #c4c4c4; font-size:20px;
    }

.navbar-inverse
{ /*background: url(../images/headBG.png) repeat-x;*/
    width: 100%;
    border: none;
}

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
    {
        color: #2a2b2b; background:#ecbc16; border-radius:6px;
    }

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
    {
        color: #fff; background:#ecbc16; border-radius:6px;
    }

.bx-pager
{
    display: none;
}

.bx-wrapper .bx-viewport
{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.corporate .bx-wrapper .bx-viewport
{
    margin-left: 5px;
}

.bx-wrapper
{
    margin: 0 auto 20px; 
}

#homeBanner .bx-wrapper
{
    margin: 0 0 10px 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
    background: #166c9d;
}

.premium-block
{
   
    padding: 10px;
    margin: 20px 0;
    height: 240px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

.premium-block img
{
   max-width:100%; width:1119px; height:222px; box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    margin-top:-9px;
}
    .premium-block h3
    {
        position: absolute;
        top: -3px;
        left: -3px;
        background: url(../images/ttlBg.html) no-repeat right center;
        margin: 0;
        padding: 5px 30px 5px 5px;
        color: #fff;
    }

.premium-logo
{
    position: absolute;
    margin-top: -80px;
    margin-left: 15px;
    z-index: 0;
}

.premium-logo-sub
{
    position: absolute;
    bottom: -66px;
    left: 30px;
    z-index: 0;
}

.premium-logo img
{
    max-width: 100%;
    width: 125px;
    max-height: 100%;
    height: 125px;
}

.premium-logo h2
{
    vertical-align: bottom;
    display: inline-block;
}

.tabs-in
{ /*margin-top:80px;*/
}

    .tabs-in .tab-pane
    {
        padding: 10px 0 0;
        margin-top: 10px;
    }

.lbl
{
    background: #06becc;
    padding: 5px 2px;
    display: inline-block;
    border-radius: 4px;
}

    .lbl i
    {
        padding: 0 5px;
        font-size: 22px;
        text-align: center;
        color: #fff;
    }

.label-default
{
    background-color: #fff;
    color:#ecbc16;
}

.related-connections img
{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.search
{
    padding: 20px 0px 0px 0px;
    text-align: center;
}

.result .brands .alert
{
    margin-left: 0;
}

/*hafeez*/
.container h2
{
    text-align: center;
}

.list-group-bottom
{
    margin-top: 27px;
}

h2.enqry-padding
{
    padding-top: -30px;
}

.enqry-padding a
{
    color: #fff;
    text-decoration: none;
}

/**/
.pop-up
{
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.item
{
    border-radius: 6px;
	border: 1px solid #ddd;
     
    padding: 10px;
    margin: 3px;
}

form.form-profile
{
    padding-top: 15px;
}

.pop-up h2
{
    color: #3a87ad;
    font-size: 22px;
    padding: 5px 0;
    margin-top: -9px;
    border-radius: 4px 4px 0 0;
    width: 103%;
    margin-left: -8px;
    margin-bottom: 26px;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

.related-connections h2
{
    background-color: #051c26;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #3a87ad;
    font-size: 22px;
    padding: 3px 0;
}

.list-block-item
{
    height: 80px;
}

a.list-group-item .list-group-item-heading-block
{
    color: #3a87ad;
    padding-top: 20px;
    height: 60px;
}

.list-block-item h4
{
    color: #3a87ad;
}

.btn-xs-height
{
    margin: 10px 9px 10px 6px;
}

/*nave*/

.navbar-inverse .navbar-nav > li > a
{
    color: #fff;
    padding-bottom: 15px;
}

.btn-default
{
    padding: 8px 22px;
    font-size: 15px;
    border-radius: 18px;
    background: #21bbb8;
    text-transform: uppercase;
    color: #FFF;
    border: none;
    margin-top: 10px;
}

    .btn-default:hover
    {
        background: #21bbb8;
        color: #fff;
    }

.form-control
{
    color: #000; /* background:url(../images/zoom.png) no-repeat center right;*/
    padding-right: 10px;
}

    .form-control:hover
    {
        background: #fff;
        color: #000;
    }

.form-block
{
    padding: 20px 0 0px;
}

.block-line
{
    margin-top: -20px;
}

input.form-control-input
{
    color: #000;
}

.brands h2
{
    background: #fff;
    border: 3px solid #fff;
    text-align: left;
    font-size: 18px;
    padding: 5px 24px;
    color: #222;
}
.newsDetails h2
{
     border: 0;
}
.news-details img
{
    float:left; margin-right:10px;
}
/*.brands h3
{   
    text-align: left;
    font-size: 18px;
	margin-top:-3px;
    padding-left:20px;
	padding-bottom:10px;
    color: #000; font-weight:bold;
}*/

.news-blog
{
    background: #FFF;
    padding:0px 0px 10px 0px;
}

    .news-blog h4
    {
        color: #166c9d;
    }

    .news-blog p
    {
       
        padding-bottom: 15px;
    }

.mainBanner
{
margin-bottom:25px;
}

    .mainBanner img
    {
        width: 100%;
        height: 100%;
    }

.news-blog.news
{
    min-height: 307px; width:100%;
}
  
 
.news-blog.news a
{
   border-bottom: 1px dashed #ddd;
display: block; padding-bottom: 10px; padding-top:10px; overflow:hidden;
}
 .news-blog.news a.co-brands
{  padding-bottom: 165px; padding-top:20px;
}
.news-blog.news p
{
   padding:0
}
 
#homeBanner .bx-wrapper .bx-viewport
{
    left: 0PX;
}

.brands-bottom-contain
{
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

    .brands-bottom-contain h2
    {
        border: none;
        margin: 0;
    }

.item-bottom h4
{
    color: #08a57f;
}
.item-bottom-heading{ display:block; margin-left:50px; margin-bottom:10px; color:#ecbc16;}
.item-bottom-heading:hover{ text-decoration:none;}
.item-bottom p
{
    color: #FFF;
}

.arrow-down
{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #051c26;
    position: relative;
    top: 36px;
    right: 215px;
}

#bxslider-top li
{
    width: 750px;
    background: #000;
}

/*new sub page*/
.navbar-inverse-sub
{
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 10px;
}

.form-block-sub
{
    padding-top: 45px;
}

.block-line-sub
{
    margin-top: -16px;
}
/*user profile*/

#content
{
    float: left;
    width: 100%;
}

.post
{
    margin: 0 auto;
    padding-bottom: 0px;
    float: left;
    width: 960px;
}



#mask
{
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup
{
    display: none;
    background: #FFFFFF; /*#333;*/
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 35%;
    left: 40%;
    width: 300px;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

    .login-popup .item-bottom img
    {
        width: 500px;
    }

img.btn_close
{
    float: right;
    margin: -28px -28px 0 0;
}

#popup-heading
{
    color: #000;
    width: 100%;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #3a87ad;
    font-size: 22px;
    padding: 3px 15px;
    margin-left: 3px;
}

.SessionError
{
    margin-top: 28px;
    float: left;
    border: 1px solid;
    width: 98%;
    border-radius: 4px;
    color: #D8000C;
    background-color: #FFBABA;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}

a.icon-1
{
    background: url(../../Areas/Admin/images/table/edit_icon-2.png) no-repeat;
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}

a.icon-2
{
    background: url(../../Areas/Admin/images/table/table_icon_1.gif) no-repeat;
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}

a.view-icon
{
    background: url(../../Areas/Admin/images/table/view-detailed.png) no-repeat;
    display: block;
    float: left;
    height: 32px;
    margin: -5px 8px 0 0;
    width: 32px;
}

a.inactive
{
    background: url(../../Areas/Admin/images/table/icon_close_red.gif) -22px -6px;
    display: block;
    float: left;
    height: 24px;
    width: 24px;
    border-radius: 10px;
}

a.icon-5
{
    background: url(../../Areas/Admin/images/table/table_icon_5.gif) no-repeat;
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}

/* PAGING --------------------------------------------------------- */

#paging-table
{
    float: right;
    margin: 0 50px 0 0;
}

{
    background: url(../../Areas/Admin/images/table/paging_far_left.gif) no-repeat;
    display: block;
    float: left;
    height: 24px;
    margin: 0 4px 0 0;
    width: 24px;
}

.page-left
{
    background: url(../../Areas/Admin/images/table/paging_far_left.gif) no-repeat;
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}

.page-far-right
{
    background: url(../../Areas/Admin/images/table/paging_far_right.gif) no-repeat;
    display: block;
    float: left;
    height: 24px;
    margin: 0 4px 0 4px;
    width: 24px;
}

.page-right
{
    background: url(../../Areas/Admin/images/table/paging_far_right.gif) no-repeat;
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}

#page-info
{
    float: left;
    line-height: 16px;
    padding: 3px 12px 0 12px;
}

a.list-group-item
{
    color: rgb(85, 85, 85);
    padding-bottom: 25px;
}

/**/
.profile-icons
{
    margin-top: -40px;
    float: right;
}

.bx-wrapper .bx-prev
{
    left: -10px;
}

.bx-wrapper .bx-next
{
    right: -10px;
}

.firstH2, .firstH3
{
    margin-top: 0;
}

.products-bxslider .item img
{
    height: 150px;
}

/*upgrade drop down menu*/
.dropdown-menu > li > a
{
    text-align: left;
}

.dropdown-upgrade
{
    background-color: rgb(22, 108, 157);
    padding: 5px;
    color: #fff;
    border-radius: 4px;
}

    .dropdown-upgrade a
    {
        color: #fff;
        text-decoration: none;
    }

    .dropdown-upgrade i
    {
        padding: 0;
    }

.list-group a.list-group-item-heading
{
    color: #17a89b;
}
/*product list add*/
#table-content h2 a
{
    color: #fff;
    text-decoration:;
    font-size: 13px;
    line-height: 22px;
}

/*boot*/
.navbar-inverse
{
    background-color: #fff;
    border-color: rgb(8, 8, 8);
}

input.btn-success-signUp
{
    margin-left: 10px;
}

.btn-group a input
{
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

.input-group-width
{
    width: 200%;
}

/*pop upgrade*/
.popHead
{
    padding-top: -30px;
}

.btonBG
{
    background: rgb(5, 28, 38);
    border: none;
    color: #fff;
}


/* 4/26/2014 */
.co-branded-list .img-thumbnail
{
    height: 140px;
    max-width: 100%; width:200px;
}

    .co-branded-list .img-thumbnail img
    {
        height: 100px;
        max-width: 100%;
    }

.co-branded-list .hasScroll
{
    max-height: 500px;
    overflow-y: auto;  
    margin-bottom: 20px;
}

.isEmpForm .modal
{
    z-index: 9999;
}
.co-branded-list .img-thumbnail.brandlist-img
{ height:170px; max-width:100%; width:270px;
}
.investor-img
{ height:100px; max-width:100%; width:220px;
}

/*co-brand*/
.co-brand
{
    text-align: center;
}

.co-brand-br .row:before
{
    box-shadow: none;
}

/*.co-brand div:nth-child(4)
{box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); background:#fff; padding:5px;  
}*/

.icon-company
{
    padding-top: 80px;
    font-size: 22px;
}
/*pop up company*/
.modal-content-Block
{
    position: relative;
    top: 150px;
}

/*UserProfile btns */
.profile-bttns a
{
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
}

/*emp-brand-list-cont-block*/

.emp-brand-list-cont img
{
    float: left;
    margin-right: 15px;
    width: 70px;
    height: 70px;
}

.emp-brand-list-cont
{
    text-align: left;
    margin-top: 37px;
}

    .emp-brand-list-cont h4
    {
        padding: 0;
        margin: 0;
    }

ul.emp-list-group li:odd
{
    background-color: #000; 
}

/*masages menu*/
.navbar .nav > li  
{
   /*padding:0 4px;*/  
}
.navbar .nav > li > a
{
    /*padding: 8px 17px; font-size:15px; margin-top:3px; margin-bottom:3px;*/
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a
{
    color: #000;
    
}

.masages-panel
{
    margin-top: 20px;
}

#PartialOutbox
{
    margin: 50px;
}

#resultMessage
{
    margin-left: 25px;
}

/**/
#product-table
{
    border-color: #f1f1f1;
    margin-top: 30px;
}

    #product-table .table-header-repeat, .table-header-options
    {
        border-color: #f1f1f1;
        padding: 5px;
    }

    #product-table td
    {
        padding: 10px;
    }

.firstH3
{
    background: #051c26;
    border: 7px solid #fff;
    text-align: left;
    font-size: 18px;
    padding: 5px 20px;
    color: #FFF;
}
/*img-thumbnail-corporateBrand*/
.img-thumbnail-corporateBrand
{
    text-align: center;
}

.table-hover tr
{
    text-align: center;
}

/**/

.navbar-collapse .navbar-nav.navbar-right:last-child
{
    margin-right: 0px;
}

/*corporate-panel*/
.corporate-panel li
{
}

.corporate-item
{
}

.corporate-panel div.corporate-item
{
    text-align: center;
    margin: 25px 0 25px 65px;
    padding: 20px 0;
}

.corporate-item img
{
    max-width: 100%;
    width: 200px;
    max-height: 100%;
    height: 200px;
}
/*item-filterdBrand*/
#item-filterdBrand
{
    margin: 10px 35px 20px 25px;
}

    #item-filterdBrand img
    {
        max-width: 100%;
        width: 300px;
        max-height: 100%;
        height: 222px;
    }

/*brands-align*/
.brands .brands-align h2
{
    margin-left: 20px;
    padding-left: 10px;
}
/*upgrd-bnnr*/
.upgrd-bnnr
{
    margin-bottom: 5px;
}
/*homeBanner*/
.mainBanner ul li
{
    height: 530px;
}

/*profile-icons*/
.profile-icons ul
{
    list-style-type: none;
    padding: 0;
}

.profile-icons li
{
    float: left;
    margin-top: 40px;
    margin-right: 10px;
}
/*tabs-in-Userprofile*/
.tabs-in-profile
{
    margin-top: 80px;
}
/*dropdown-menu-profile*/
.dropdown-menu-profile li
{
    margin-top: 0;
}
/*pop-up-img*/
.pop-up-img
{
    position: relative;
    z-index: 99;
}

.navbar-nav
{
    float: none;
}

@media (max-width:768px)
{
    .btn-profile
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.navbar-toggle
{
    background: #1ebeb6;
    margin-top: 0;
    margin-right: 0;
}

.connections-space > div:first-child
{
    height: 50px;
}

div.row.connections-space
{
    margin-bottom: 0px;
    height:40px;
}

#popupEdit
{
    display: none;
}
/*nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/

 .BTN-Block{ background:#222; border-radius:4px; margin-left:19px; border:1px solid #222}
 .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
color: #fff;
background-color: #222;
border-color: #222;
}
.btn-warning {
color: #fff;
background-color: #ecbc16;
border-color: #ecbc16;
}
.list-block { background:#fff; margin:20px; display:block}  
.list-block a img{ margin:20px; display:block} 
.company-block{ background:#f5f5f5; height:200px;width:96%;margin:0 auto 50px; }
.company-block span.text-heding{ display:block;padding:9px 0 0 10px; color:#000; font-weight:bold} 
.company-block:hover { opacity:0.7 ;}                      
.homBannerRight .bx-wrapper{ margin-bottom:0;}  

.homBannerLeft img{ width:100%; height:100%;}
.homBannerLeft ul{padding:0;}
.homBannerLeft li {position:relative; height:300px;}
.homBannerLeft li div{ position:absolute; background:rgba(0,0,0,0.8); padding:0px 20px 10px; bottom:20px; left:20px; width:60%; display:none; -webkit-animation: myfirst 5s; animation: myfirst 5s;}
.homBannerLeft li div.show{}
.homBannerLeft li div h2{ font-size:16px; text-align:left;}                                                                             
.homBannerLeft li div p{ font-size:12px;}
.homBannerLeft .bx-controls-direction
{
    display:none;
}

.homBannerRight li {position:relative; height:300px;}
    .homBannerRight li img
    {
        width:100%; height:100%;
    }
@-webkit-keyframes myfirst {
    from {display: none;}
    to {display: block;}
}
/* Standard syntax */
@keyframes myfirst {
    from {display: none;}
    to {display: block;}
}
.btn-connect{
color: #fff;
background-color: #ecbc16;
border-color: #ecbc16;

padding: 3px 5px;
margin-right: 5px;
}
.btn-connect i{ 
 
}
.btn-connect:hover{ 
background-color: #ecbc16;
border-color: #ecbc16; 
}
/*latest news home page*/
.news-img{ float:left}
.news-img img{width: 81px; height:81px;}
.news-content{ float:right; width:71%;}
.news-content h5{color:#ecbc16; margin:11px;}
.news-content p{color:#c8c8c8; font-size:12px; line-height:22px;}
.social-icon li { float:left; padding:10px 5px;}
.footer-bottom{ background:#0c0c0c; margin-top:40px; padding:10px 10px;}
.footer-bottom a{margin:0px 5px; }
.footer-bottom p{color:#c8c8c8;}
@media (max-width:768px)
{
    .footer-bottom, .footer-bottom .text-right
    {
        text-align:center;
    }

}
@media (max-width:992px)
{

    .navbar .container .nav
    {
        margin-top:70px
    }
}
.home-news h2
{
   background: #ecbc16;
   margin-top:0px; border:none;
   padding-left:5px;
}
.home-add
{
    height:200px;
}.home-add img
{
    width:100%; height:100%
}
.nav.nav-tabs .visitToWeb
{
float:right;
padding-top:4px;
}
.nav.nav-tabs .visitToWeb a
{
    margin:0; padding:0;
}
    .visitToWeb button.btn
    {
        margin:0;
    }
/*userProfile*/
.related-connections li{ background:#222;  color:#fff; font-size:17px; margin:1px 0;}
.related-connections li:hover{ background:#ecbc16;  }
.related-connections li a{  color:#fff; text-decoration:none; padding:8px 19px; display:block}

/*collapse*/

/*.panel-default>.panel-heading {
color: #fff;
background-color: #222;
border-color: #ddd;
}*/

.panel-default>.panel-heading {
color: #fff;
background-color: #333;
border-radius: 0;
background-image: none;
border-color: #ddd;
}
.panel-default>.panel-heading:hover {
color: #fff;
background-color: #ecbc16;
border-color: #ddd;
}
.panel-default>.panel-heading .active {
color: #fff;
background-color: #ecbc16;
border-color: #ddd;
}
.panel-default>.panel-heading a {
color: #fff; text-decoration:none;
 
}
.panel-body{ margin:0; padding:0;}
.connection-block .news {
min-height: 307px;
width: 50%;
}
.connection-blog{ 
background: #FFF; float:left;
padding: 10px 15px;
} 
.content-blog{float: right;
width: 61%; color:#CFA103; font-size:16px;
margin-top: -12px;}
.content-blog h5{ 
 color:#CFA103; font-size:16px;
 }
 .content-blog p{ 
 color:#222; font-size:13px;
 }
 .profile-banner img{max-width:100%; width: 580px; max-height:100%; height: 260px;}
 .profile-logo{ /*background: rgba(255,255,255,0.5);*/
                width: 310px;
height: 150px;
z-index: 2;
position: relative;
top: -132px;
left: 50px;}
.profile-logo-user
{
    margin-top: -14px;
width: 200px;
left:18px; height:116px
}
.profile-logo-user img
{
    margin-bottom: 10px;
    margin-top: -26px;
  }
#accordion .panel-heading a{ background: url(../Images/collapsN.png) no-repeat;}
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #ed9c28;
border-color: #ed9c28;
}
.ads img{ max-width:100%; width:380px;}

.form-margin
{ margin-left:12px; margin-right:9px;
}
.product-btn
{text-decoration: none;
border-radius:4px; border:none;
margin-top: -5px;
/* margin-left: -37px; */
font-weight: bold;
padding:8px 15px; margin-bottom:20px;
}
.btn-news
{ margin-left:12px;
}
.brands.visitors
{
    padding-top:0;
}
/*business-new*/
.business-new { margin-right:10px; margin-top:-10px;
}
.grids-wrap { margin-top: 39px;
}
#product-table { margin-top:100px;
}
/*co-brand-br*/
.co-brand-br img { max-width:100%; width:750px; height:200px; 
}
.cobrand-category
{  
}
 
/*img-big-cobrand*/
.img-big-cobrand a img
{ max-height:100%; width:780px; max-height:100%; height:350px; 
}