@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="premium-block" style="background-image: url(images/a1.jpg)">
                <h3>Premium</h3>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 text-right">
                        <div class="lbl">Connections <span class="label label-default">102</span></div>
                    </div>
                    <div class="col-sm-2 text-right">
                        <div class="lbl">Hit Count <span class="label label-default">213</span></div>
                    </div>
                    <div class="col-sm-2 text-right">
                        <div class="lbl">TBB Points <span class="label label-default">654</span></div>
                    </div>
                    <div class="col-sm-2 text-right"><a href="#" class="btn btn-sm btn-primary">Contact</a></div>
                </div>
                <div class="premium-logo">
                    <img class="img-thumbnail" src="images/i2.jpg" alt="" />
                    <h2>Company Name here..</h2>
                </div>
            </div>
            <div class="tabs-in">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabA" data-toggle="tab">Details</a></li>
                    <li><a href="#tabB" data-toggle="tab">More Info</a></li>
                </ul>
                <div class="clearfix"></div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tabA">
                        <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
                        <ul>
                            <li>product Brand is the "name, term, design</li>
                            <li>feature that identifies one seller's product</li>
                            <li>product Brand is the "name, term, design</li>
                            <li>feature that identifies one seller's product</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tabB">
                        <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
                        <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
                    </div>
                </div>
            </div>
            <hr />
            <ul class="bxslider-inn">
                <li>
                    <img src="images/i3.jpg" alt="" />
                    <p>Brand is the "name, term, design, symbol</p>
                </li>
                <li>
                    <img src="images/i2.jpg" alt="" />
                    <p>Any other feature that identifies one seller's product.</p>
                </li>
                <li>
                    <img src="images/i1.jpg" alt="" />
                    <p>Feature that identifies one seller's product distinct from those of other sellers.</p>
                </li>
                <li>
                    <img src="images/i3.jpg" alt="" />
                    <p>Distinct from those of other sellers.</p>
                </li>
                <li>
                    <img src="images/i3.jpg" alt="" />
                    <p>Brand is the "name, term, design, symbol</p>
                </li>
                <li>
                    <img src="images/i2.jpg" alt="" />
                    <p>Any other feature that identifies one seller's product.</p>
                </li>
                <li>
                    <img src="images/i1.jpg" alt="" />
                    <p>Feature that identifies one seller's product distinct from those of other sellers.</p>
                </li>
                <li>
                    <img src="images/i3.jpg" alt="" />
                    <p>Distinct from those of other sellers.</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <div class="form search">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="located">Located In</label>
                        <input type="text" class="form-control input-sm" id="located" placeholder="Search with keyword">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </form>
            </div>
            <div class="related-connections">
                <h2>Related Connections</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <img src="images/i2.jpg" class="img-thumbnail" alt="" />
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
                    </a><a href="#" class="list-group-item">
                        <img class="img-thumbnail" src="images/i1.jpg" alt="" />
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
                    </a><a href="#" class="list-group-item">
                        <img class="img-thumbnail" src="images/i2.jpg" alt="" />
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
                    </a><a href="#" class="list-group-item">
                        <img class="img-thumbnail" src="images/i3.jpg" alt="" />
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
