@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <title>Business Branding Page B</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Puritan:400,400italic|Roboto+Slab:400,100' rel='stylesheet' type='text/css'>
<link href="~/Content/lib/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />

<link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />

<link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />

<link href="~/Content/style/custom.css" rel="stylesheet" media="screen">
    <link href="~/Content/style/custom.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="lib/html5shiv/html5shiv.js"></script>
      <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
<!--[if lt IE 8]>
	<link href="lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
    <![endif]-->
</head>
<body class="home">
    <div class="navbar navbar-inverse">
  <!--  navbar-fixed-top -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#">BUSINESS <span>BRANDING</span></a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="index.html"><i class="icon-home"></i></a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Our Work</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" class="btn btn-default btn-sm">Login</a></li>
        <li><a href="#" class="btn btn-default btn-sm">Sign Up</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
    <div class="container">
  <div class="row">
  <div class="col-sm-3">
       <div class="related-connections">
        <h2>Related List</h2>
        <div class="list-group"> <a href="#" class="list-group-item"> <img src="images/i2.jpg" class="img-thumbnail"  alt="" />
         <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a><a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i1.jpg" alt="" />
         <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a><a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i2.jpg" alt="" />
          <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a><a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i3.jpg" alt="" />
         <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a><a href="#" class="list-group-item"> <img src="images/i2.jpg" class="img-thumbnail"  alt="" />
         <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a><a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i1.jpg" alt="" />
         <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a></div>
      </div>
      
      </div>
    <div class="col-sm-6">
      <div class="premium-block" style="background-image:url(images/a1.jpg)">
      
        <div class="row">
          <div class="col-sm-3"> </div>
          <div class="col-sm-3 text-right"></div>
          <div class="col-sm-2 text-right"> </div>
          
          <div class="col-sm-4 text-right"><a href="#" class="btn btn-sm btn-primary">Edit Company Profile</a></div>
        </div>
        <div class="premium-logo"> <img class="img-thumbnail" src="images/i2.jpg" alt="" />
          <h2>Company Name here..</h2>
        </div>
      </div>
      <div class="tabs-in">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tabA" data-toggle="tab">Details</a></li>
          <li><a href="#tabB" data-toggle="tab">More Info</a></li>
         </ul>
        <div class="clearfix"></div>
         <div class="row">
          		<div class="col-sm-10"></div>
                <div class="col-sm-2 text-right"><a href="#" class="btn btn-sm btn-primary">Edit</a></div>
          </div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="tabA">
            <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
            <ul>
              <li>product Brand is the "name, term, design</li>
              <li>feature that identifies one seller's product</li>
              <li>product Brand is the "name, term, design</li>
              <li>feature that identifies one seller's product</li>
            </ul>
          </div>
          <div class="tab-pane" id="tabB">
            <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
            <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>
          </div>
        </div>
      </div>
      
       
    </div>
    <div class="col-sm-3">
    	 
         <div class="related-connections">
         <h2>Updated News</h2>
         <div class="list-group list-group-bottom">  <a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i1.jpg" alt="" />
           
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any other feature Brand is the "name, term, design, symbol, or any other feature Brand is the "name, term, design, symbol, or any other feature Brand is the "name, term, design, symbol, or any other feature </p>
          </a>  
        </div>
      </div>
       <div class="related-connections">
        <h2>Requests</h2>
         
        <div class="list-group list-group-bottom">  <a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i1.jpg" alt="" />
          <h4 class="list-group-item-heading">List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any other feature </p>
          </a>  <a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i1.jpg" alt="" />
          <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a>           
          <a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i1.jpg" alt="" />
          <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a>  
        </div>
      </div>
      
      </div>
  </div>
  
  <div class="row">
  <div class="col-sm-3">
       <div class="related-connections">
        <h2 class="enqry-padding">Enquiries</h2>
        <div class="list-group">  <a href="#" class="list-group-item"> <img src="images/i2.jpg" class="img-thumbnail"  alt="" />
         <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a><a href="#" class="list-group-item"> <img class="img-thumbnail" src="images/i1.jpg" alt="" />
         <h4 class="list-group-item-heading">Brand List group item</h4>
          <p class="list-group-item-text">Brand is the "name, term, design, symbol, or any</p>
          </a></div>
      </div>
    </div>
    <div class="col-sm-9">
    	 <div class="row" style="margin-top:26px;">
          <div class="col-sm-3"> </div>
          <div class="col-sm-3 text-right"></div>
          <div class="col-sm-2 text-right"> </div>
          
          <div class="col-sm-4 text-right"><a href="#" class="btn btn-sm btn-primary">Add Products</a></div>
        </div>
    	 <ul class="bxslider-inn" style="margin-top: 10px;">
                    <li>
                        <img src="~/Images/i3.jpg" alt="" />
                        <p>Brand is the "name, term, design, symbol</p>
                    </li>
                    <li>
                        <img src="~/Images/i2.jpg" alt="" />
                        <p>Any other feature that identifies one seller's product.</p>
                    </li>
                    <li>
                        <img src="~/Images/i1.jpg" alt="" />
                        <p>Feature that identifies one seller's product distinct from those of other sellers.</p>
                    </li>
                    <li>
                        <img src="~/Images/i3.jpg" alt="" />
                        <p>Distinct from those of other sellers.</p>
                    </li>
                    <li>
                        <img src="~/Images/i3.jpg" alt="" />
                        <p>Brand is the "name, term, design, symbol</p>
                    </li>
                    <li>
                        <img src="~/Images/i2.jpg" alt="" />
                        <p>Any other feature that identifies one seller's product.</p>
                    </li>
                    <li>
                        <img src="~/Images/i1.jpg" alt="" />
                        <p>Feature that identifies one seller's product distinct from those of other sellers.</p>
                    </li>
                    <li>
                        <img src="~/Images/i3.jpg" alt="" />
                        <p>Distinct from those of other sellers.</p>
                    </li>
                </ul>
    </div>
     
  </div>
</div>
    <div>
        
    </div>
</body>
</html>
