@{
    ViewBag.Title = "Company";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
        Layout = "~/Views/Shared/_MasterLayout.cshtml";
    
    
     <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}


<section class="co-branded-list">
  <div class="container">
		<h2>Company</h2>
    <div class="row">
      <div class="col-sm-9">
		<div class="hasScroll">
			<ul class="list-group">
                <li class="list-group-item">
                    <div class="row co-brand">
                        <div class="col-xs-3" style="">
                            <h4>Software</h4>
                            <img src="images/i3.jpg" alt="..." class="img-thumbnail">
                            <p>Description ...........</p>
                        </div>
                        <div class="col-xs-1 icon-company"><i class="icon-plus-sign"></i></div>
                        <div class="col-sm-4">
                            <h4>Medco Machines</h4>
                            <img src="images/i1.jpg" alt="..." class="img-thumbnail">
                            <p>Description ...........</p>
                        </div>


                        <div class="col-sm-4 co-brand-br" style="text-align: center" data-toggle="modal" data-target="#myModal">
                            <a href="#">
                                <h4>Medco Machines</h4>
                                <img src="images/i1.jpg" alt="..." class="img-thumbnail">
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus .</p>
                            </a>
                        </div>


                    </div>

                </li>

                <li class="list-group-item">
					<div class="row co-brand">
						<div class="col-xs-3" style="">
							<h4>Software</h4>
							<img src="images/i3.jpg" alt="..." class="img-thumbnail">
							<p>Description ...........</p>
						</div>
                        <div class="col-xs-1 icon-company"><i class="icon-plus-sign"></i></div>
						<div class="col-sm-4">
							<h4>Medco Machines</h4>
							<img src="images/i1.jpg" alt="..." class="img-thumbnail" >
							<p>Description ...........</p>
						</div>

                      
                           <div class="col-sm-4 co-brand-br" style="text-align:center"  data-toggle="modal" data-target="#myModal">
                                <a href="#"> 
							        <h4>Medco Machines</h4>
							        <img src="images/i1.jpg" alt="..." class="img-thumbnail">
							        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus .</p>
                               </a>
						</div>                     
                    </div>
                 </li>

                <li class="list-group-item">
					<div class="row co-brand">
						<div class="col-xs-3" style="">
							<h4>Software</h4>
							<img src="images/i3.jpg" alt="..." class="img-thumbnail">
							<p>Description ...........</p>
						</div>
                        <div class="col-xs-1 icon-company"><i class="icon-plus-sign"></i></div>
						<div class="col-sm-4">
							<h4>Medco Machines</h4>
							<img src="images/i1.jpg" alt="..." class="img-thumbnail" >
							<p>Description ...........</p>
						</div>

                      
                           <div class="col-sm-4 co-brand-br" style="text-align:center"  data-toggle="modal" data-target="#myModal">
                                <a href="#"> 
							        <h4>Medco Machines</h4>
							        <img src="images/i1.jpg" alt="..." class="img-thumbnail">
							        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus .</p>
                               </a>
						</div>
                      
                      
					</div>

                </li>

                <li class="list-group-item">
					<div class="row co-brand">
						<div class="col-xs-3" style="">
							<h4>Software</h4>
							<img src="images/i3.jpg" alt="..." class="img-thumbnail">
							<p>Description ...........</p>
						</div>
                        <div class="col-xs-1 icon-company"><i class="icon-plus-sign"></i></div>
						<div class="col-sm-4">
							<h4>Medco Machines</h4>
							<img src="images/i1.jpg" alt="..." class="img-thumbnail" >
							<p>Description ...........</p>
						</div>

                      
                           <div class="col-sm-4 co-brand-br" style="text-align:center"  data-toggle="modal" data-target="#myModal">
                                <a href="#"> 
							        <h4>Medco Machines</h4>
							        <img src="images/i1.jpg" alt="..." class="img-thumbnail">
							        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus .</p>
                               </a>
						</div>
                      
                      
					</div>

                </li>


				 
                
				 
				 
			</ul>
		</div>
      </div>

          <!-------------------------------------------------------popup---------------------------------->
 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content-Block">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Medco Machines</h4>
      </div>
      <div class="modal-body">
       Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis Cum sociis natoque penatibus et magnis dis parturient montes, 
          nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
         <!-------------------------------------------------------popup-end--------------------------------->
      <div class="col-sm-3">
			<h2>What is Co-branded list?</h2>
			<p class="text-right"><small>This line of text is meant to be treated as fine print.</small></p>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
			<p class="lead">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
     </div>
    </div>
  </div>
</section>