@model BizzBranding.CommonUtility.BussinessUserModel

@{
    ViewBag.Title = "ForgotPassword";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Message"] = TempData["AlertMessage"];
           Layout = "~/Views/Shared/_MasterLayout.cshtml";
     <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}
<div id="msg"><p style="color:green; padding-left:8%"><strong> @ViewData["Message"]</strong></p></div>


@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    <section class="brands">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h2>Forgot Password</h2>
                     <div class="form-margin">
                    <div class="editor-label">
                        Enter Your Email Id
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.EmailId, new { @class ="form-control" })
                        @Html.ValidationMessageFor(model => model.EmailId)
                    </div>
                    <div>
                        Check your password in your mailid
                    </div>
                    <p>
                       <input type="submit" class="btn btn-success" />
                        <input type="button" value="Cancel" class="btn btn-warning" onclick="window.location.href = '/Home/Index'" />
                    </p>
                </div>
            </div></div>
        </div>
    </section>
}
