@model BizzBranding.CommonUtility.GlobalBrandingModel

@{
    ViewBag.Title = "GlobalBrandingRequest";
    //Layout = "~/Views/Shared/_Layout.cshtml";
        Layout = "~/Views/Shared/_MasterLayout.cshtml";
         <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("GlobalBrandingRequest", "Home", FormMethod.Post))
{
    <section class="brands">
        <div class="container">
            <div class="row">
                @Html.HiddenFor(x => x.GlobalBrandingId)
                <div id="page-heading" style="color: red">
                    @if (ViewBag.Msg != null)
                    {
                        <div class="errormsg">
                            @ViewBag.Msg
                        </div>
                      
                    }
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h2>Global Branding Request</h2>
                    <div class="form-margin">
                    <form role="form" method="post">
                        <div class="form-group">
                            <label>Global Branding Details</label>
                            <b style="color: red">*</b>
                            @Html.TextAreaFor(x => x.GlobalBrandDetails, new { @class = "form-control", @placeholder = "Enter your Global Branding Details" })
                            <b style="color: red">@Html.ValidationMessageFor(x => x.GlobalBrandDetails)</b>
                        </div>

                        <input type="submit" class="btn btn-success" />
                        <input type="button" value="Cancel" class="btn btn-warning" onclick="window.location.href = '/Home/UsersProfile'" />
                        @* <button type="submit" class="btn btn-default btn-success">Submit</button>
                            <button type="submit" class="btn btn-default btn-success">Reset</button>*@
                    </form>

                    @*  </div>
                            <input type="submit" class="btn btn-default btn-success">Submit</>
                             <input type="button" value="Cancel" style="width: auto !important;" onclick="window.location.href = '/Home/Index'"  class="btn btn-default btn-success"/>
                        </form>*@
                </div></div>
            </div>
        </div>
    </section>  
}

