@{
    ViewBag.Title = "ReturnFailurePayU";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
           Layout = "~/Views/Shared/_MasterLayout.cshtml";
     <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}

<h2>ReturnFailurePayU</h2>
<br />
<h2>Payment Transaction is Fail</h2>
