@model BizzBranding.Models.LandingPageModel

@{
    ViewBag.Title = "ViewAllConnList";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
        Layout = "~/Views/Shared/_MasterLayout.cshtml";
         <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}

<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Business Connections</h2>
                <div class="related-connections">
                    @foreach (var BList in Model.ConnectedBizList)
                    {
                        string str = BList.BusinessDetails;
                        if (str.Length > 48)
                        {
                            str = str.Substring(0, 48);
                        }
                        <a href="@Url.Action("VisitorPage", "Home", new { @id = BList.PartnerId })" class="list-group-item">
                            <img src="~/Content/Images/CoLogo/@BList.CompanyLogo" class="img-thumbnail" alt="" />
                            <h4 class="list-group-item-heading">@BList.BusinessName</h4>
                            <p class="list-group-item-text">@str</p>
                        </a> 
                    }
                </div>
            </div>
        </div>
    </div>
</section>
