@model BizzBranding.CommonUtility.BusinessNewsModel

@{
    ViewBag.Title = "ViewBusinessNews";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
           Layout = "~/Views/Shared/_MasterLayout.cshtml";
     <link href="~/Content/lib/fontawesome/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" />
     <link href="~/Content/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/style/custom.css" rel="stylesheet" />
}

<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

            </div>

            <div class="col-sm-4">
                <div class="tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs pull-right">
                        <li class="pull-left">
                            <h3>Brands By</h3>
                        </li>
                        <li class="pull-right"><a href="#tabB" data-toggle="tab">City</a></li>
                        <li class="active pull-right"><a href="#tabA" data-toggle="tab">Industry</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabA">
                            <ul class="list-group">
                                @foreach (var Ind in Model.IndustryList)
                                {
                                    <li class="list-group-item"><a href="@Url.Action("SearchbyIndustry", "Home", new { @id = Ind.IndustryId })">@Ind.IndustryName</a></li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="tabB">
                            <div class="list-group">
                                @foreach (var ct in Model.CityList)
                                {
                                    <a href="@Url.Action("SearchByCity", "Home", new { @CityId = ct.CityId })" class="list-group-item">
                                        <h4 class="list-group-item-heading">@ct.CityName</h4>
                                        @*<p class="list-group-item-text">Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product</p>*@
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Block title..</h3>
                    <p>Brand is the "name, term, design, symbol, or any other feature that <a href="#">identifies one</a> seller's product distinct from those of other sellers.</p>
                    <p>Brand is the "name, term, design, symbol, or any other feature that identifies one seller's product distinct from those of other sellers.</p>
                    <p>Know more about it.. <span class="label label-primary">New</span></p>
                </div>

            </div>
        </div>
    </div>
</section>
