<script src="~/Content/lib/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#message_previousOutbox').click(function () {
            Previous_Outbox();
        });

        $('#message_nextOutbox').click(function () {
            Next_Outbox();
        });

    });

    function Previous_Outbox() {
        var previousvalue = parseInt($('#outbox_first').html());

        if (previousvalue != 1) {
            currentPageIndex = parseInt(currentPageIndex, 10) - 1;
            var current = parseInt($('#message_paging').val());
            var t = 10;
            var s = current - t;
            Paging('#outbox_first', '#outbox_length');
            LoadOutBox(s, t);
            $('#message_paging').val(s);
        }
        else {
        }
    }

    function Next_Outbox() {
        var nextvalue = parseInt($('#outbox_length').html());
        var totalvalue = parseInt($('#totaloutbox').html());

        if (nextvalue >= totalvalue) {
        }
        else {
            currentPageIndex = parseInt(currentPageIndex, 10) + 1;
            var current = parseInt($('#message_paging').val());
            var t = 10;
            var s = current + t;
            Paging('#outbox_first', '#outbox_length');
            LoadOutBox(s, t);
            $('#message_paging').val(s);
        }
    }

    function LoadOutBox(s, t) {

        $("#tblOutBoxMsg").html('');
        $.post("/Messages/PopulateOutbox", { skip: s, take: t },
         function (data) {
             var rowOutbox = "";
             var Outbox = '"Outbox"';
             debugger;
             $.each(data, function () {
                 debugger;
                 var Subject = this.MsgTitle;
                 var attachment = this.Messagefile;
                 var dateoutbox = new Date(parseInt(this.CreatedOn.substr(6)));
                 if (attachment != null) {
                     attachment = "<a href='#'><img alt='' style='height: 18px;width: 19px;padding-left: 5px;' src='../../Content/Images/attachment.png'/></a>";
                 }
                 else {
                     attachment = "";
                 }
                 if (Subject == "") {
                     Subject = "No Subject";
                 }
                 if (this.IsReadFrom == false) {
                     rowOutbox = rowOutbox + "<tr id=trOutbox_" + this.MessageID + " style='font-weight: bold;'><td><input type='checkbox' id='" + this.MessageId + "' class='chkOutbox'/></td><td style='cursor:pointer;' onclick='ReadMessage(" +
                     this.MessageId + "," + Outbox + ")'>" + this.MessageToName + "</td><td style='cursor:pointer;' onclick='ReadMessage(" +
                     this.MessageId + "," + Outbox + ")'>" + Subject.substring(0, 30) + "</td><td style='cursor:pointer;' onclick='ReadMessage(" +
                     this.MessageId + "," + Outbox + ")'>" + dateoutbox.toDateString() + "</td><td>" + attachment + "</td></tr>";
                 }
                 else {
                     rowOutbox = rowOutbox + "<tr id=trOutbox_" + this.MessageID + "><td><input type='checkbox' id='" + this.MessageId + "' class='chkOutbox' /></td><td style='cursor:pointer;' onclick='ReadMessage(" +
                     this.MessageId + "," + Outbox + ")'>" + this.MessageToName + "</td><td style='cursor:pointer;' onclick='ReadMessage(" +
                     this.MessageId + "," + Outbox + ")'>" + Subject.substring(0, 30) + "</td><td style='cursor:pointer;' onclick='ReadMessage(" +
                     this.MessageId + "," + Outbox + ")'>" + dateoutbox.toDateString() + "</td><td>" + attachment + "</td></tr>";
                 }
             });
             $("#tblOutBoxMsg").html('');
             var tBody = " <tr><th width='2%'><input type='checkbox' name='chkAllOutbox' id='chkAllOutbox' class='chkHeaderInbox' onclick='CkeckAllOutbox()' style='margin-right:10px;' /></th><th class='th' style='width: 180px'>To</th><th class='th'>Subject</th><th class='th' style='width: 180px;'>Date</th><th class='th' style='width: 50px'>File</th></tr>";
             $("#tblOutBoxMsg").append(tBody);
             $("#tblOutBoxMsg").append(rowOutbox);
             Paging('#outbox_first', '#outbox_length');
         });
    }

    

    function CkeckAllOutbox() {
        if ($('input[name=chkAllOutbox]').is(":checked")) {
            $('.chkOutbox').each(function () {
                document.getElementById("OutboxResult").innerHTML = " ";
                $(this).attr('checked', true);
            });
        }
        else {
            $('.chkOutbox').each(function () {
                $(this).attr('checked', false);
            });
        }
    }

    function DeleteAllOutbox() {
        if ($('input[class=chkOutbox]').is(":checked")) {
            if (confirm('Are you sure you want to delete Outbox Messages ?')) {

                $('.chkOutbox').each(function () {
                    debugger;
                    var id = $(this).attr("id");
                    if ($('input[id=' + id + ']').is(":checked")) {
                        $.post("/Messages/DeleteMessage", { MessageID: id },
                function (data) {
                    debugger;
                    var myObject = eval('(' + data + ')');
                    var newid = myObject;
                    if (newid == 1) {
                        $('#trOutbox_' + id).remove();
                        LoadOutBox(0, 10);
                        document.getElementById("OutboxResult").innerHTML = "Message Deleted !";
                    }
                    else {
                        document.getElementById("OutboxResult").innerHTML = "Message can not be Deleted !";
                    }
                });
                    }
                });
            }
        }
        else {
            document.getElementById("OutboxResult").innerHTML = "Please Select Messages.";
        }
    } 

    function DeleteOutBoxMessage(e) {
        if (confirm('Are you sure to delete ?')) {
            $.post("/Messages/DeleteMessage", { MessageID: e },
                function (data) {
                    var myObject = eval('(' + data + ')');
                    var newid = myObject;
                    if (newid == 1) {
                        debugger;
                        $('#trOutbox_' + e).remove();
                        LoadOutBox(0, 10);
                        document.getElementById("OutboxResult").innerHTML = "Message Deleted !";
                    }
                    else {
                        document.getElementById("OutboxResult").innerHTML = "Message can not be Deleted !";
                    }
                });
        }
    }

</script>
<div id="pager" class="pager" style="list-style: none; float: right; padding-right: 10px;
    margin: 0px;">
    <br />
    <ul>
        <li id="outbox_first"></li>
        -
        <li id="outbox_length"></li>
        of
        <li id="totaloutbox"></li>
        <li>&nbsp;&nbsp;
            <img src="../../Content/images/message_left.jpg" id="message_previousOutbox" height="22"
                title="Previous" style="cursor: pointer;" /></li>
        <li>
            <img src="../../Content/images/message_right.jpg" id="message_nextOutbox" height="22"
                title="Next" style="cursor: pointer;" /></li>
    </ul>
</div>
<div class="grid" style="padding: 35px 0px 0px 0px;">
    <div class="wrapp">
        <div id="OutboxResult" style="padding-left: 15px; padding-bottom: 5px; color: red;">
        </div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="tblOutBoxMsg">
        </table>
    </div>
</div>
